<div class="cont-<%= message.user.id%>">
    <div class="message-box msg-<%=message.user.id %>"></div>
        <% unless message.room.is_private %>
            <h6><%= message.user.username %></h6>
        <% end %>
        <%= message.body %>
    </div>
</div>